
body {
    font-family: arial;
  font-weight: bold;

}

.calculator {
    width: 310px;
  
    margin: 99px auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
#output {
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
  min-height: 50px;
  
  
  
}
button {
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
  background-color:pink;
}
.czabhi{
  text-align: center;
  position: relative;
  top:-120px;
    text-decoration:none;
    color:white;
    transition:0.4s;
    cursor:pointer;
}
.czabhi:hover{
    color:lime:
}
.ojha{
  width:30%;
  position: relative;
  top:-40px;
  border-radius:10px;
}
.ojha:hover{
  border:2px solid lime;
}
